@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  outline: none;
  border: none;
  @apply text-white  hover:text-gray-300 bg-transparent focus:outline-none focus:border-none;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: #111827;
  /* background-color:#16191f; */
}
body::-webkit-scrollbar {
  width: 0px;
}

.container {
  width: 80%;
  /* overflow: hidden; */
  /* height: 2200px; */
}


.trs {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}




.cbAnimation {
  position: relative;
  opacity: 0;
  animation: cbA 2s forwards ease paused;
  -webkit-animation: cbA 2s forwards ease paused;
}

@keyframes cbA {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}
.AnimationUpDown {
  position: relative;
  top: -200px;
  opacity: 0;
  animation: cbB 2s forwards ease paused;
  -webkit-animation: cbB 2s forwards ease paused;
}

@keyframes cbB {
  0%{
    opacity: 0;
  }
  30%{
    top: -200px;
    opacity: 0;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}
.AnimationRightLeft {
  position: relative;
  top: 0px;
  right: -100%;
  opacity: 0;
  animation: cbLR 1s forwards ease paused;
  -webkit-animation: cbLR 1s forwards ease paused;
}

@keyframes cbLR {
  0%{
    opacity: 0;
  }
  30%{
    right: -100%;
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    right: 0;
  }
}